<section class="login">
        <div class="login_title">Iniciar Sesión</div>
        <form action="/login" class="form-cadastro" data-form method="POST">
          <input
            class="login_input__url"
            type="text"
            name="CORREO_CLIENTE"
            placeholder="Escriba su correo electrónico"
            required
            data-email
          />
          <input
            class="login_input__name"
            type="password"
            name="PASSWORD_CLIENTE"
            placeholder="Escriba su contraseña"
            required
            data-password
          />
          <button type="submit" class="login_btn">Iniciar sesion</button>
        </form>
        <a href="#" class="login_registro">¿Aun no tienes una cuentra? Registrate!!</a>
    </section>

    
