<!DOCTYPE html>
<html lang="ES">

  <head>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>V&N Colors</title>
  </head>

  <body>

    <header>
      <nav>

        <div class="logo">
          <div id="refresh" class="logo_destaque">
            <img src="../assets/img/logo.png" alt="logo" />
            <p class="logo-azul">V&N Colors</p>
          </div>
          <input type="text" placeholder="Qué deseas buscar?"/>
        </div>

        <div class="list">
          <ul class="list_menu">
            <li class="list_menu_item"><a href="../screens/index.html" class="list_menu_itemlink">Inicio</a></li>
            <li class="list_menu_item"><a href="../screens/login.html" class="list_menu_itemlink">Login</a></li>
            <li class="list_menu_item"><a class="list_menu_itemlink">Servicios</a></li>
            <li class="list_menu_item"><a class="list_menu_itemlink">Productos</a></li>
          </ul>
        </div>

      </nav>
    </header>

    <section class="login">
        <div class="login_title">Iniciar Sesión</div>
        <form action="#" class="form-cadastro" data-form>
          <input
            class="login_input__url"
            type="text"
            placeholder="Escriba su correo electrónico"
            required
            data-email
          />
          <input
            class="login_input__name"
            type="password"
            placeholder="Escriba su contraseña"
            required
            data-password
          />
          <button type="submit" class="login_btn">Entrar</button>
        </form>
        <a href="../screens/registro.html" class="login_registro">¿Aun no tienes una cuentra? Registrate!!</a>
    </section>

    <section class="contacto">

      <div class="contacto_imagen ">
        <img src="../assets/img/logo.png" alt="logo" />
        <p>V&N Colors</p>
      </div>
  
      <div class="contacto_links">
        <a href="">Quienes somos</a>
        <a href="">Política de Privacidad</a>
        <a href="">Programa de fidelidad</a>
        <a href="">Nuestras Tiendas</a>
      </div>
  
      <div class="form">
        <p>Habla con nosotros</p>
        <input
          type="text"
          name="Nombre"
          id="Nombre"
          class="input-nombre"
          placeholder="Nombre"
        />
        <textarea
          name="mensaje"
          id="msg"
          placeholder="Escribe tu Mensaje"
        ></textarea>
        <button>Enviar Mensaje</button>
      </div>
    </section>

    </body>
  </html>

  <script>
    let refresh = document.getElementById('refresh');
    refresh.addEventListener('click', _ => 
    {
        location.reload();
    })
  </script>