<section class="banner">
      <div class="banner_slider">
        <img src="/img/WhatsApp Image 2023-10-19 at 6.29.07 PM (1).jpeg" alt="Imagen 1">
        <img src="/img/WhatsApp Image 2023-10-19 at 6.29.07 PM (2).jpeg" alt="Imagen 2">
        <img src="/img/WhatsApp Image 2023-10-19 at 6.29.07 PM.jpeg" alt="Imagen 3">
      </div>
    </section>

    <section class="marcas">
      <div class="marcas_titulo">
        <h1>Marcas</h1>
      </div>
      <div class="marcas_imagenes">
        <img class="marcas_imagenes_list" src="/img/marca1.jpg" alt="marca 1">
        <img class="marcas_imagenes_list" src="/img/marca2.jpg" alt="marca 2">
        <img class="marcas_imagenes_list" src="/img/marca3.jpg" alt="marca 3">
        <img class="marcas_imagenes_list" src="/img/marca4.jpg" alt="marca 4">
      </div>
      <div class="marcas_mas">
          <button class="marcas_boton">Ver productos referenciados</button>
      </div>
    </section>
    <section class="productos">
      <div class="productos_titulo">
        <h1>Productos</h1>
        <h2>Lista de productos</h2>
      </div>
      
        <div class="cartas-container">
          {{#each productos}}
          <div class="carta">
            <div class="cuerpo">
              <img src="/img/cosmetico.png" alt="" class="img-carta">
              <h2>{{NOMBRE_ARTICULO}}</h2>
              <p>{{PRECIO_ARTICULO}}</p>
              <p>{{DESCRIPCION_ARTICULO}}</p>
            </div>
            <div class="pie">
              <a href="">Añadir al carrito</a>
            </div>
          </div>
          {{/each}}
        </div>
    </section>
<script>
  
  let currentIndex = 0;
  const totalSlides = document.querySelectorAll('.carousel-item').length;
  const wrapper = document.querySelector('.productos_carrusel');

  function showSlide(index) {
    const newTransformValue = -index * 100 + '%';
    wrapper.style.transform = 'translateX(' + newTransformValue + ')';
  }

  function prevSlide() {
    currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
    showSlide(currentIndex);
  }

  function nextSlide() {
    currentIndex = (currentIndex + 1) % totalSlides;
    showSlide(currentIndex);
  }
</script>