<section class="banner">
      <div class="banner_slider">
        <img src="/img/WhatsApp Image 2023-10-19 at 6.29.07 PM (1).jpeg" alt="Imagen 1">
        <img src="/img/WhatsApp Image 2023-10-19 at 6.29.07 PM (2).jpeg" alt="Imagen 2">
        <img src="/img/WhatsApp Image 2023-10-19 at 6.29.07 PM.jpeg" alt="Imagen 3">
      </div>
    </section>

    <section class="marcas">
      <div class="marcas_titulo">
        <h1>Marcas</h1>
      </div>
      <div class="marcas_imagenes">
        <img class="marcas_imagenes_list" src="/img/marca1.jpg" alt="marca 1">
        <img class="marcas_imagenes_list" src="/img/marca2.jpg" alt="marca 2">
        <img class="marcas_imagenes_list" src="/img/marca3.jpg" alt="marca 3">
        <img class="marcas_imagenes_list" src="/img/marca4.jpg" alt="marca 4">
      </div>
      <div class="marcas_mas">
          <button class="marcas_boton">Ver productos referenciados</button>
      </div>
    </section>
    <section class="productos">
      <div class="productos_titulo">
        <h1>Productos</h1>
      </div>
      <div class="productos_lista">
        <div class="productos_carrusel">
          <div class="carousel-item">
            <img src="/img/cosmetico.png" alt="Imagen 1" class="img_carrusel">
            <div class="carousel-text">Precio: $5200</div>
          </div>
          <div class="carousel-item">
            <img src="/img/cosmetico.png" alt="Imagen 2" class="img_carrusel">
            <div class="carousel-text">Precio: $15200</div>
          </div>
          <div class="carousel-item">
            <img src="/img/cosmetico.png" alt="Imagen 3" class="img_carrusel">
            <div class="carousel-text">Precio: $25200</div>
          </div>
        </div>
        <button class="prev slide" onclick="prevSlide()">&#10094;</button>
        <button class="next slide" onclick="nextSlide()">&#10095;</button>
      </div>
      <div>
        <h1>Lista de productos</h1>
        <ul>
          {{#each productos}}
          <li>
            <strong>{{NOMBRE_ARTICULO}}</strong>
            <p>Precio: {{PRECIO_ARTICULO}}</p>
          </li>
          {{/each}}
        </ul>
      </div>
    </section>
<script>
  
  let currentIndex = 0;
  const totalSlides = document.querySelectorAll('.carousel-item').length;
  const wrapper = document.querySelector('.productos_carrusel');

  function showSlide(index) {
    const newTransformValue = -index * 100 + '%';
    wrapper.style.transform = 'translateX(' + newTransformValue + ')';
  }

  function prevSlide() {
    currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
    showSlide(currentIndex);
  }

  function nextSlide() {
    currentIndex = (currentIndex + 1) % totalSlides;
    showSlide(currentIndex);
  }
</script>